<% include ../partials/_header %>


<div class="container">
   
        <div class="row">
            <!--FORM-->
        
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
        
                  <form action="contactos" method="post">
                    <div class="form-group">
                      <input class="form-control" type="text" name="nombre" placeholder="Nombre(*)" required=true>
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" name="apellido" placeholder="Apellido(*)"required=true>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" name="doc" placeholder="Documento(*)"required=true>
                      </div>
                      <div class="form-group">
                        <input class="form-control" type="email" name="mail" placeholder="Mail(*)"required=true>
                      </div>
                      <div class="form-group">
                        <input class="form-control" type="email" name="mai2" placeholder="Mail Aux.">
                      </div>
                      <div class="form-group">
                        <input class="form-control" type="number" name="tel1" placeholder="Celular(*)"required=true>
                      </div>
                      <div class="form-group">
                        <input class="form-control" type="number" name="tel2" placeholder="Teléfono">
                      </div>

                    <button class="btn btn-primary " type="submit">
                         Crear contacto 
                    </button>
                  </form>
                </div>
              </div>
            </div>
                     <!-- LIST -->
          <div class="col-md-9">
            <table class="table table-bordered table-hover table table-sm text-center">
            <thead class="thead-dark">
                 <tr>
                    <th>N°</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Mail</th>
                    <th>Cel</th>
                    <th>Tel</th>
                    <th>Opciones</th>
          <!-- <th>Status</th> -->
                </tr>
            </thead>
      <tbody>
        <% for(var i=0; i < contactos.length; i++) { %>
        <tr>
          <td><%= i + 1%></td>
          <td><strong><%= contactos[i].nombre %></strong></td>
          <td><%= contactos[i].apellido%></td>
          <td><%= contactos[i].mail%></td>
          <td><%= contactos[i].celular %></td> 
          <td><%= contactos[i].telefono %></td>  
          
          <td>
            <a href="/agregarRevista/<%= contactos[i]._id %>" class="btn btn-outline-success">
              Agregar 
            </a>
            <a href="/verRevistas/<%= contactos[i]._id %>" class="btn btn-primary">
              Ver 
            </a>
              <!-- <form action="https://google.com">
                <input type="submit" value="Go to Google" />
              </form> -->
            <a action="contactos" method="put">
              Editar 
            </a>
          </a>
          <a href="/eliminar/<%= contactos[i]._id %>" class="btn btn-danger" onclick="return confirmar()" >
            Eliminar 
          </a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>


<script>
    function confirmar()
    {
        if(confirm("Está seguro que quiere eliminar este contacto?"))
        {
            return true;
        }
        return false;
    }
</script>




