<% include ../partials/_header %>

<div class="container">
  <div class="row">
 
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
        <h2>Editar contacto</h2>
      <div class="card">
        <div class="card-body">
          <form action="../editar/<%= contactos._id %>" method="POST">
            <div class="form-group">
              <input class="form-control" type="text" name="nombre"  value="<%= contactos.nombre %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="apellido"  value="<%= contactos.apellido %>">
              </div>
              <div class="form-group">
                <input class="form-control" type="number" name="doc"  value="<%= contactos.doc %>">
              </div>
              <div class="form-group">
                <input class="form-control" type="email" name="mail"  value="<%= contactos.mail  %>">
              </div>
            <button class="btn btn-primary" type="submit">
              Actualizar 
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
